@import url(reset.css);

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  font: 13px "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 75%;
  color: #333;
}

h1 {
  line-height: 43px;
  color: #404040;
  font-size: 16px;
  font-weight: normal;
  padding-left: 23px;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
}


#header {
  background: url(images/rainbow.png) left 86px no-repeat;
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  margin: 0 0 16px 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 131px;
  overflow: hidden;
  z-index: 3;
}


#header-logo {
  background: url(images/landing.png) bottom no-repeat;
  display: block;
  height: 69px;
  position: absolute;
  top: 0;
  left: 24px;
  width: 464px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

[dir='rtl'] #header-logo {
  right: 24px;
}

.minimize #header-logo {
  display: none;
}

#nav {
  position: absolute;
  top: 131px;
  bottom: 0;
  left: 0;
  overflow: auto;
}

[dir='rtl'] #nav {
  right: 0;
}

.module-index #nav {
  border-right: 1px solid #CCC;
  width: 175px;
}

[dir='rtl'].module-index #nav {
  border-right: none;
  border-left: 1px solid #CCC;
}

.course-index #nav {
  right: 0;
}

.minimize #nav {
  display: none;
}

.module-index #content {
  position: absolute;
  top: 131px;
  right: 0;
  bottom: 0;
  left: 175px;
  overflow: hidden;
}

[dir='rtl'].module-index #content {
  left: 0;
  right: 175px;
}

.minimize #content, [dir='rtl'].minimize #content {
  top: 45px;
  left: 0;
  right: 0;
}


#nav ul {
  color: #555;
  font-size: 13px;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

#nav a {
  color: #555;
  text-decoration: none;
}
#nav a:hover {
  background: #f3f3f3;
  text-decoration: none;
}

#nav li {
  cursor: pointer;
}

#nav li > a {
  display: block;
  /* padding: 4px 4px 4px 40px; */
  padding: 10px 4px 10px 40px;
  font-size: 1.4rem;
}

li.collapse > ul {
  display: none;
}

.module-title, .section-title, .topic-title, .page-title {
  border-bottom: 1px solid #CCC;
  display: block;
  padding: 7px 4px;
}

.module-title {
  padding-left: 16px;
}

[dir='rtl'] .module-title {
  padding-left: 0;
  padding-right: 16px;
}

.module-title.text-only:not(:focus) {
  border: none;
  padding: 0;
  position: absolute;
  top: auto;
  left: -10px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#nav li {
  position: relative;
}

#nav li > .icon {
  position: absolute;
  display: block;
  width: 32px;
  height: 24px;
  top: 0;
  left: 0;
}